@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-8 offset-2" style="z-index:1">
        <h1>@ViewData["Title"]</h1>
        <div>
            <br />
            
            <h4>ABC-Healthcare</h4>
            <br>
           <h5 sstyle="color:brown">
               
                ABC Healthcare is a Mumbai-based pharma company which sells medicines<br /> throughout India as per the 
                demand it receives from multiple hospitals and<br />  clinics.It has been operating in India for the last 15 years.
                It emerges as the<br />one of leading Health care across the Globe.It also bags the 
                2nd best<br /> HealthCare in India.The Mumbai peoples have Best services over the <br />years.
           </h5>
            <br>
           
            <br>
        </div>

    </div>
</div>
<div class="col-md-8 offset-2"><img class="float-right" src="~/Images/UX_UI_Design/logo.png" style="height: 36%; width: 20%; position: fixed; right: 220px; bottom: 27.9px; z-index: 0;"/></div>